.footer {
  background-color: black;
  width: 100%;
  margin-top: auto; }
  .footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .footer-container .social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33.33%; }
      .footer .footer-container .social-media .social {
        width: 30px;
        margin: 5px; }
        .footer .footer-container .social-media .social .svg-color {
          fill: white; }
    .footer .footer-container .copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      width: 33.33%; }
    .footer .footer-container .patrocinadors-container {
      display: flex;
      width: 33.33%;
      justify-content: flex-end; }
      .footer .footer-container .patrocinadors-container .patrocinadors {
        width: 80%; }
