.footer {
  background-color: black;
  width: 100%;
  margin-top: auto;
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33.33%;
      .social {
        width: 30px;
        margin: 5px;
        .svg-color {
          fill: white;
        }
      }
    }
    .copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      width: 33.33%;
    }
    .patrocinadors-container {
      display: flex;
      width: 33.33%;
      justify-content: flex-end;
      .patrocinadors {
        width: 80%;
      }
    }
  }
}
