.header {
  display: flex;
  justify-content: center;
  background-color: white; }
  .header .logo-container .logo {
    width: 100px; }
  .header .title {
    color: #264690;
    font-family: "Ubuntu"; }

body {
  margin: 0;
  padding: 0; }
