h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 36px; }

span, p, a, li, input, textarea, button {
  font-family: 'Roboto', sans-serif; }

.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: ghostwhite; }

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .header-container .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 30%; }
    .header-container .logo-container .logo {
      height: 100px; }
  .header-container .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: black;
    width: 40%;
    padding: 30px;
    gap: 10px; }
    .header-container .title-container .title {
      margin: 0;
      font-weight: bolder; }
    .header-container .title-container .subtitle {
      margin: 0; }
  .header-container .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%; }
    .header-container .social-media .social {
      width: 30px;
      margin: 5px; }

.nav-container {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0; }
  .nav-container .nav-item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 15px; }
    .nav-container .nav-item:hover {
      background-color: #264690; }
      .nav-container .nav-item:hover a {
        color: white; }
    .nav-container .nav-item a {
      text-decoration: none;
      color: black;
      font-size: 1.2rem;
      font-weight: bold; }
  .nav-container .dropdown {
    position: relative;
    display: inline-block; }
  .nav-container .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    top: 100%;
    left: 0;
    z-index: 200; }
  .nav-container .dropdown-content a {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .nav-container .dropdown-content a.dropdown-follets {
      background-color: #00c4ec; }
    .nav-container .dropdown-content a.dropdown-espurnes {
      background-color: #ffe200; }
    .nav-container .dropdown-content a.dropdown-barrufets {
      background-color: #ff9900; }
    .nav-container .dropdown-content a.dropdown-picasoques {
      background-color: #ff4b3a; }
    .nav-container .dropdown-content a.dropdown-exploradors {
      background-color: #00c04c; }
    .nav-container .dropdown-content a.dropdown-vigies {
      background-color: #264690; }
  .nav-container .dropdown-content a:hover {
    background-color: #ddd; }
  .nav-container .dropdown:hover .dropdown-content {
    display: block; }

.grups-nav:hover .hover-image {
  display: block;
  height: 300px; }

.grups-nav:hover .grup-item-container {
  top: 0;
  max-height: 300px; }

.grups-container {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0; }
  .grups-container .grup-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 15px;
    position: relative;
    z-index: 100; }
    .grups-container .grup-item.follets {
      background-color: #00c4ec; }
      .grups-container .grup-item.follets .grup-item-container {
        background-color: #00c4ec; }
    .grups-container .grup-item.espurnes {
      background-color: #ffe200; }
      .grups-container .grup-item.espurnes .grup-item-container {
        background-color: #ffe200; }
    .grups-container .grup-item.barrufets {
      background-color: #ff9900; }
      .grups-container .grup-item.barrufets .grup-item-container {
        background-color: #ff9900; }
    .grups-container .grup-item.piques {
      background-color: #ff4b3a; }
      .grups-container .grup-item.piques .grup-item-container {
        background-color: #ff4b3a; }
    .grups-container .grup-item.exploradors {
      background-color: #00c04c; }
      .grups-container .grup-item.exploradors .grup-item-container {
        background-color: #00c04c; }
    .grups-container .grup-item.vigies {
      background-color: #264690; }
      .grups-container .grup-item.vigies .grup-item-container {
        background-color: #264690; }
  .grups-container .grup-item-container {
    display: block;
    position: absolute;
    width: 100%;
    justify-content: center;
    padding: 0;
    top: -300px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out; }
  .grups-container .hover-image {
    display: none;
    height: 0;
    transition: height 0.2s ease-in-out;
    top: 0;
    left: 0; }

.footer {
  background-color: black;
  width: 100%;
  margin-top: auto; }
  .footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .footer-container .social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33.33%; }
      .footer .footer-container .social-media .social {
        width: 30px;
        margin: 5px; }
        .footer .footer-container .social-media .social .svg-color {
          fill: white; }
    .footer .footer-container .copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      width: 33.33%; }
    .footer .footer-container .patrocinadors-container {
      display: flex;
      width: 33.33%;
      justify-content: flex-end; }
      .footer .footer-container .patrocinadors-container .patrocinadors {
        width: 80%; }

.main-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.carousel {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto; }

.carousel-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }
  .carousel-row .carousel-col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }

.page-body {
  display: flex;
  width: 100%;
  margin: 0; }
  .page-body .main-page-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 275px;
    width: 80%;
    margin: 15px;
    background-color: white;
    border: 1px solid black; }
  .page-body .main-page-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin: 15px 15px 15px 0; }
    .page-body .main-page-right .twitter-widget {
      width: 100%;
      height: 100%;
      overflow: clip !important;
      border: none !important;
      border-radius: 0 !important; }

.triptic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .triptic .triptic-image {
    max-width: 66.66%;
    max-height: 70vh; }

.grup-page {
  display: flex;
  flex-direction: column;
  height: 69vh; }
  .grup-page .grup-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin: 30px; }
  .grup-page .grup-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0; }
    .grup-page .grup-menu .grup-menu-item {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 15px; }
    .grup-page .grup-menu a {
      text-decoration: none;
      color: black;
      font-size: 1.2rem;
      font-weight: bold; }
  .grup-page .grup-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0; }
    .grup-page .grup-logo img {
      width: 300px;
      height: 300px; }

.grup-menu-item.follets:hover {
  background-color: #00c4ec !important; }

.grup-logo.follets {
  background-color: #00c4ec !important; }

.grup-menu-item.espurnes:hover {
  background-color: #ffe200 !important; }

.grup-logo.espurnes {
  background-color: #ffe200 !important; }

.grup-menu-item.barrufets:hover {
  background-color: #ff9900 !important; }

.grup-logo.barrufets {
  background-color: #ff9900 !important; }

.grup-menu-item.picasoques:hover {
  background-color: #ff4b3a !important; }

.grup-logo.picasoques {
  background-color: #ff4b3a !important; }

.grup-menu-item.exploradors:hover {
  background-color: #00c04c !important; }

.grup-logo.exploradors {
  background-color: #00c04c !important; }

.grup-menu-item.vigies:hover {
  background-color: #264690 !important; }

.grup-logo.vigies {
  background-color: #264690 !important; }

.inscripcions {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center; }
  .inscripcions .inscripcions-form-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%; }

.secretaria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .secretaria .documentacio-curs {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 100%;
    width: 66.66%;
    padding: 50px; }
    .secretaria .documentacio-curs h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 20px; }
    .secretaria .documentacio-curs .documentacio-curs-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%; }
      .secretaria .documentacio-curs .documentacio-curs-container .documentacio-inscripcio {
        margin-top: 10px;
        padding: 30px;
        background-color: #e0e0e0; }
      .secretaria .documentacio-curs .documentacio-curs-container .mes-informacio {
        padding: 30px;
        background-color: #e0e0e0; }

.calendar {
  display: flex;
  height: 100vh;
  padding: 10px 16.66% 10px 16.66%; }

.contacte {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%; }
  .contacte .contacte-page-container {
    display: flex;
    flex-direction: column;
    width: 66.66%;
    padding: 30px;
    background-color: whitesmoke; }
    .contacte .contacte-page-container .general-contacts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background-color: #e0e0e0;
      gap: 20px; }
      .contacte .contacte-page-container .general-contacts .contact-links-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; }
    .contacte .contacte-page-container .grup-contacts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      gap: 20px;
      background-color: #e0e0e0; }
      .contacte .contacte-page-container .grup-contacts .grup-contacts-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; }
        .contacte .contacte-page-container .grup-contacts .grup-contacts-container .grup-contact {
          display: flex;
          flex-direction: column;
          align-items: center; }
  .contacte .contact-logo {
    width: 100px;
    margin: 0 10px 20px 10px;
    color: #264690; }
    .contacte .contact-logo svg {
      width: 100px;
      height: 100px; }
    .contacte .contact-logo.follets {
      color: #00c4ec !important; }
    .contacte .contact-logo.espurnes {
      color: #ffe200 !important; }
    .contacte .contact-logo.barrufets {
      color: #ff9900 !important; }
    .contacte .contact-logo.picasoques {
      color: #ff4b3a !important; }
    .contacte .contact-logo.exploradors {
      color: #00c04c !important; }
    .contacte .contact-logo.vigies {
      color: #264690 !important; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #E6E6FA; }
  html ::-webkit-scrollbar, body ::-webkit-scrollbar {
    width: 12px; }
  html ::-webkit-scrollbar-track, body ::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 100px; }
  html ::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
    background-color: lightgray; }

body {
  display: flex;
  flex-direction: column; }
