.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .logo-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 30%;
        .logo {
            height: 100px;
        }
    }
    .title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        color: black;
        width: 40%;
        padding: 30px;
        gap: 10px;
        .title {
            margin: 0;
            font-weight: bolder;
        }
        .subtitle {
            margin: 0;
        }
    }
    .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        .social {
            width: 30px;
            margin: 5px;
        }
    }
}

.nav-container {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    .nav-item {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 15px;
        &:hover {
            background-color: $blau-esplai;
            a {
                color: white;
            }
        }
        a {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        top: 100%;
        left: 0;
        z-index: 200;
    }

    .dropdown-content a {
        color: black !important;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &.dropdown-follets {
            background-color: $color-follets;
        }
        &.dropdown-espurnes {
            background-color: $color-espurnes;
        }
        &.dropdown-barrufets {
            background-color: $color-barrufets;
        }
        &.dropdown-picasoques {
            background-color: $color-piques;
        }
        &.dropdown-exploradors {
            background-color: $color-exploradors;
        }
        &.dropdown-vigies {
            background-color: $color-vigies;
        }
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

}

.grups-nav {
    &:hover {
        .hover-image {
            display: block;
            height: 300px;
        }
        .grup-item-container {
            top: 0;
            max-height: 300px;
        }
    }
}
.grups-container {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    .grup-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 15px;
        position: relative;
        z-index: 100;
        &.follets {
            background-color: $color-follets;
            .grup-item-container {
                background-color: $color-follets;
            }
        }
        &.espurnes {
            background-color: $color-espurnes;
            .grup-item-container {
                background-color: $color-espurnes;
            }
        }
        &.barrufets {
            background-color: $color-barrufets;
            .grup-item-container {
                background-color: $color-barrufets;
            }
        }
        &.piques {
            background-color: $color-piques;
            .grup-item-container {
                background-color: $color-piques;
            }
        }
        &.exploradors {
            background-color: $color-exploradors;
            .grup-item-container {
                background-color: $color-exploradors;
            }
        }
        &.vigies {
            background-color: $color-vigies;
            .grup-item-container {
                background-color: $color-vigies;
            }
        }
    }
    .grup-item-container {
        display: block;
        position: absolute;
        width: 100%;
        justify-content: center;
        padding: 0;
        top: -300px; // Initially position it above the viewport
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;
    }
    .hover-image {
        display: none;
        height: 0;
        transition: height 0.2s ease-in-out;
        top: 0;
        left: 0;
    }
}
