@import "../../variables";

.header {
    display: flex;
    justify-content: center;
    background-color: white;
    .logo-container {
        .logo {
            width: 100px;
        }
    }
    .title {
        color: $blau-esplai;
        font-family: "Ubuntu";
    }
    .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
        .social {
            width: 30px;
        }
    }
}
