@import "../../variables";

.header {
    display: flex;
    justify-content: center;
    background-color: white;
    .logo-container {
        .logo {
            width: 100px;
        }
    }
    .title {
        color: $blau-esplai;
        font-family: "Ubuntu";
    }
}
