.secretaria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .secretaria .documentacio-curs {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 100%;
    width: 66.66%;
    padding: 50px; }
    .secretaria .documentacio-curs h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 20px; }
    .secretaria .documentacio-curs .documentacio-curs-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%; }
      .secretaria .documentacio-curs .documentacio-curs-container .documentacio-inscripcio {
        margin-top: 10px;
        padding: 30px;
        background-color: #e0e0e0; }
      .secretaria .documentacio-curs .documentacio-curs-container .mes-informacio {
        padding: 30px;
        background-color: #e0e0e0; }
