h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 36px; }

span, p, a, li, input, textarea, button {
  font-family: 'Roboto', sans-serif; }

.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0; }

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .header-container .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 30%; }
    .header-container .logo-container .logo {
      height: 100px; }
  .header-container .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: black;
    width: 40%;
    padding: 30px;
    gap: 10px; }
    .header-container .title-container .title {
      margin: 0;
      font-weight: bolder; }
    .header-container .title-container .subtitle {
      margin: 0; }
  .header-container .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%; }
    .header-container .social-media .social {
      width: 30px;
      margin: 5px; }

.nav-container {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0; }
  .nav-container .nav-item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 15px; }
    .nav-container .nav-item:hover {
      background-color: #264690; }
      .nav-container .nav-item:hover a {
        color: white; }
    .nav-container .nav-item a {
      text-decoration: none;
      color: black;
      font-size: 1.2rem;
      font-weight: bold; }

.grups-nav:hover .hover-image {
  display: block;
  height: 300px; }

.grups-nav:hover .grup-item-container {
  top: 0;
  max-height: 300px; }

.grups-container {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0; }
  .grups-container .grup-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 15px;
    position: relative;
    z-index: 100; }
    .grups-container .grup-item.follets {
      background-color: #00c4ec; }
      .grups-container .grup-item.follets .grup-item-container {
        background-color: #00c4ec; }
    .grups-container .grup-item.espurnes {
      background-color: #ffe200; }
      .grups-container .grup-item.espurnes .grup-item-container {
        background-color: #ffe200; }
    .grups-container .grup-item.barrufets {
      background-color: #ff9900; }
      .grups-container .grup-item.barrufets .grup-item-container {
        background-color: #ff9900; }
    .grups-container .grup-item.piques {
      background-color: #ff4b3a; }
      .grups-container .grup-item.piques .grup-item-container {
        background-color: #ff4b3a; }
    .grups-container .grup-item.exploradors {
      background-color: #00c04c; }
      .grups-container .grup-item.exploradors .grup-item-container {
        background-color: #00c04c; }
    .grups-container .grup-item.vigies {
      background-color: #264690; }
      .grups-container .grup-item.vigies .grup-item-container {
        background-color: #264690; }
  .grups-container .grup-item-container {
    display: block;
    position: absolute;
    width: 100%;
    justify-content: center;
    padding: 0;
    top: -300px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out; }
  .grups-container .hover-image {
    display: none;
    height: 0;
    transition: height 0.2s ease-in-out;
    top: 0;
    left: 0; }
