.inscripcions {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  .inscripcions-form-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
