.secretaria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .documentacio-curs {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 100%;
    width: 66.66%;
    padding: 50px;
    h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .documentacio-curs-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      .documentacio-inscripcio {
        margin-top: 10px;
        padding: 30px;
        background-color: $lighter-gray;
        .documentacio-curs-item {
        }
      }
      .mes-informacio {
        padding: 30px;
        background-color: $lighter-gray;
      }
    }
  }
}