$groc-esplai: #ffe200;
$blau-esplai: #264690;
$color-follets: #00c4ec;
$color-espurnes: #ffe200;
$color-barrufets: #ff9900;
$color-piques: #ff4b3a;
$color-exploradors: #00c04c;
$color-vigies: #264690;
